<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
    
</head>

<body>
    <div class="wrapper">
        <ul>
            <li><a href="@Url.Action("Clock", "Home")"> Clock</a></li>
            <li><a href="@Url.Action("SpriteSheet", "Home")"> Sprite Sheet</a></li>
            <li><a href="@Url.Action("Rubberbanding", "Home")"> Rubber banding</a></li>            
            <li><a href="@Url.Action("SimpleRectangles", "Home")"> Simple Rectangles</a></li>
            <li><a href="@Url.Action("Gradients", "Home")"> Gradients</a></li>
            <li><a href="@Url.Action("Patterns", "Home")"> Patterns</a></li>
            <li><a href="@Url.Action("InsertShadows", "Home")"> Insert Shadows</a></li>
            <li><a href="@Url.Action("StrokeAndFill", "Home")"> Stroke and Fill</a></li>
            <li><a href="@Url.Action("Donut", "Home")"> Donut</a></li>
            <li><a href="@Url.Action("Cutout", "Home")"> Cutout</a></li>
            <li><a href="@Url.Action("Axes", "Home")"> Axes</a></li>
            <li><a href="@Url.Action("RubberbandLine", "Home")"> Rubberband Line</a></li>
            <li><a href="@Url.Action("RubberbandLines", "Home")"> Rubberband Lines</a></li>
            <li><a href="@Url.Action("ExtendCanvasRender2D", "Home")"> Extend CanvasRender2D</a></li>
            <li><a href="@Url.Action("ArcTo", "Home")"> Arc To</a></li>
            <li><a href="@Url.Action("Dial", "Home")"> A dial</a></li>
            <li><a href="@Url.Action("QuadraticCurves", "Home")"> Quadratic Curves</a></li>
            <li><a href="@Url.Action("RoundedCorners", "Home")"> Rounded Corners</a></li>
            <li><a href="@Url.Action("CubicBezierCurves", "Home")"> Cubic Bezier Curves</a></li>
            <li><a href="@Url.Action("Polygons", "Home")"> Polygons</a></li>
            <li><a href="@Url.Action("DraggingBezierCurve", "Home")"> Dragging Bezier Curve</a></li>
            <li><a href="@Url.Action("Compositing", "Home")"> Compositing</a></li>
            <li><a href="@Url.Action("ErasingWithClipping", "Home")"> Erasing with the clipping</a></li>
            <li><a href="@Url.Action("Telescoping", "Home")"> Telescoping</a></li>
            <li><a href="@Url.Action("FillColorGradientsPatterns", "Home")"> Filling text with color gradients and patterns</a></li>
            <li><a href="@Url.Action("LabelsToAxes", "Home")"> Labels To Axes</a></li>
            <li><a href="@Url.Action("DrawingCircularText", "Home")"> Drawing circular text</a></li>
            <li><a href="@Url.Action("TextCursor", "Home")"> Text Cursor</a></li>
            <li><a href="@Url.Action("DrawingImage", "Home")"> Drawing An Image</a></li>
            <li><a href="@Url.Action("ScalingCenteringImage", "Home")"> Scaling and centering an image</a></li>
            <li><a href="@Url.Action("Watermarks", "Home")"> Watermarks</a></li>
            <li><a href="@Url.Action("Offscreen", "Home")"> Offscreen</a></li>
        </ul>
    
    </div>
</body>
</html>